article:first-child {
    background: lightgrey;
    margin-bottom: 50px;
}
.site-header__title {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: rgb(218, 218, 58);
}
.site-wrapper {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5;
   /* text-align: center;*/
    background: rgb(245, 242, 242);
}
  .message__title {
    font-size: 30px;       
}
.site-footer {
        font-size: 15px;
        text-align: center;   
     }
.message__content {
    /*text-align: justify;*/
}

.articles-sidebar {
    display: flex;
    flex-direction: row;
}
main {
    display: flex;
    width: 75%;
    flex-wrap: wrap;
}
.message {
    width: 33%;
}
.sidebar {
        width: 25%;
    }
.image {
    width: 100%;
}












@media screen and (min-width:1000px) {